{% extends 'base.html.twig' %}

{% block title %}Mes Projets {% endblock %}

{% block body %}
    <div class="content-container">
        <aside class="aside-left">
            <div class="aside-content">
                <h2>Pixel Art Maker </h2>
                <p>
                    /!\ WORK IN PROGRESS /!\<br><br>
                    Vous voici sur le<br>PIXEL ART MAKER<br>Une application qui vous permet de créer des dessins pixelisés en choisissant des couleurs et en remplissant des cellules dans une grille !
                </p>
                <p>
                N'hésitez pas à me faire part de vos idées d'améliorations !
                </p>
            </div>
        </aside>
        <div class="grid-container">
            <div class="grid" id="grid"></div>
            <div class="card-body">
            </div>
        </div>
        <aside class="aside-right">
            <div class="aside-contentAs">
                <label for="colorPicker">Sélecteur de couleur :</label>
                <input type="color" id="colorPicker">
                <div class="color-container">
                    <div class="color-buttons">
                        <button class="color-button" data-color="#ff0000" style="background-color: #ff0000;" title="Rouge">Rouge</button>
                        <button class="color-button" data-color="#00ff00" style="background-color: #00ff00;" title="Vert">Vert</button>
                        <button class="color-button" data-color="#0000ff" style="background-color: #0000ff;" title="Bleu">Bleu</button>
                        <button class="color-button" data-color="#ffff00" style="background-color: #ffff00;" title="Jaune">Jaune</button> 
                        <button class="color-button" data-color="#000000" style="background-color: #000000; color: #ffffff;" title="Noir">Noir</button>
                    </div>
                </div>
                <button id="resetButton" class="btn btn-secondary">Effacer</button>
            </div>
        </aside>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-image: url('/PortFolio/ressources/person-playing-3d-video-games-device.jpg');
            background-color: black;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .content-container {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            text-align: center;
            margin-left: 250px;
            margin-right: 250px;

            
        }
        .container {
            display: flex;
            justify-content: center;
        }
        

        .aside-left, .aside-right {
            width: 23%; /* Ajuster la largeur des asides */
            padding: 20px;
            box-sizing: border-box;
            color: #fff;
            background-color: rgba(255, 255, 255, 0.25); /* Fond semi-transparent */
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin: 0 10px;
        }

        .aside-content {
            text-align: center;
            
            
        }

        .aside-right {
            background-color: rgba(255, 255, 255, 0.25); /* Fond semi-transparent */
        }

        .grid-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
            box-sizing: border-box;
            width: 60%; /* Ajuster la largeur de la grille principale */
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(25, 20px);
            grid-template-rows: repeat(25, 20px);
            gap: 1px;
            border: 1px solid #000;
            background-color: rgba(255, 255, 255, 0.8);
        }

        .cell {
            width: 20px;
            height: 20px;
            background-color: #fff;
            border: 1px solid #ddd;
        }

        label {
            margin-top: 20px;
            font-size: 1rem;
            color: #fff;
            display: block;
        }

        #colorPicker {
            margin-top: 10px;
            width: 150px;
            height: 30px;
        

        }

        .color-container {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            background-color: rgba(255, 255, 255, 0.20); /* Fond semi-transparent */
            width: 100%;
        }

        .color-buttons {
            display: flex;
            justify-content: center;
            flex-wrap: wrap; /* Permet aux boutons de couleur de passer à la ligne si nécessaire */
        }

        .color-button {
            width: 50px;
            height: 50px;
            margin: 5px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s, box-shadow 0.2s;
        }

        .color-button:hover {
            transform: scale(1.1);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
        }

        .color-button:active {
            transform: scale(0.9);
        }

        #resetButton {
            margin-top: 20px;
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            background-color: #dc3545;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.2s;
        }

        #resetButton:hover {
            background-color: #c82333;
            transform: scale(1.1);
        }

        #resetButton:active {
            transform: scale(0.9);
        }

        /* Style pour le bouton "Retour au menu" */
        #btn-explorer {
            background-color: blue;
            color: #ffffff; /* Texte en blanc */
            border-color: blue; /* Bordure de la même couleur */
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        }

        #btn-explorer:hover {
            background-color: #6a007a; /* Assombrissement au survol */
            border-color: #6a007a; /* Bordure assombrie */
        }

        /* Media query pour rendre responsive */
        @media (max-width: 768px) {
            .content-container {
                flex-direction: column; /* Passer en colonne pour les écrans plus petits */
                align-items: center; /* Centrer verticalement */
                margin-left: 50px;
                margin-right: 50px;
            }

            .grid-container {
                width: 80%; /* Redimensionner pour les écrans jusqu'à 768px */
            }

            .aside-left, .aside-right {
                width: 90%; /* Redimensionner les asides pour s'adapter à la largeur de l'écran */
                margin: 10px 0; /* Ajustement des marges pour les petits écrans */
            }

            .aside-right {
                order: 1; /* Changer l'ordre pour passer en dessous de la grille */
            }
        }

    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const grid = document.getElementById('grid');
            const colorPicker = document.getElementById('colorPicker');
            const resetButton = document.getElementById('resetButton');
            const colorButtons = document.querySelectorAll('.color-button');
            let isMouseDown = false;
            let selectedColor = colorPicker.value;

            function fillCell(event) {
                if (event.target.classList.contains('cell')) {
                    event.target.style.backgroundColor = selectedColor;
                }
            }

            function resetGrid() {
                const cells = grid.querySelectorAll('.cell');
                cells.forEach(cell => cell.style.backgroundColor = '#fff');
            }

            colorPicker.addEventListener('input', function() {
                selectedColor = colorPicker.value;
            });

            colorButtons.forEach(button => {
                button.addEventListener('click', function() {
                    selectedColor = button.getAttribute('data-color');
                });
            });

            grid.addEventListener('click', fillCell);

            grid.addEventListener('mousedown', function() {
                isMouseDown = true;
                grid.addEventListener('mousemove', fillCell);
            });

            document.addEventListener('mouseup', function() {
                isMouseDown = false;
                grid.removeEventListener('mousemove', fillCell);
            });

            resetButton.addEventListener('click', function() {
                if (confirm('Êtes-vous sûr de vouloir réinitialiser la grille ?')) {
                    resetGrid();
                }
            });

            createGrid(25, 25);
        });

        function createGrid(rows, cols) {
            const grid = document.getElementById('grid');
            grid.innerHTML = ''; // Clear existing grid
            for (let i = 0; i < rows; i++) {
                for (let j = 0; j < cols; j++) {
                    const cell = document.createElement('div');
                    cell.classList.add('cell');
                    grid.appendChild(cell);
                }
            }
        }
        // Fonction pour détecter si l'utilisateur est sur un appareil mobile
        function isMobileDevice() {
            return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
        }

        // Fonction pour vérifier le type de périphérique et la résolution
        //function checkDeviceType() {
        //    if (isMobileDevice()) {
        //        alert("Désolé, cette page ne peut pas être afficher sur un mobile ou un tablette. Vous allez être redirigé.");

                // Redirection vers la page /shows
        //        window.location.href = "/show";
        //    }
        //}

        // Appeler la fonction au chargement de la page
        window.onload = function() {
            checkDeviceType();
        };
    </script>
{% endblock %}
