{% extends 'base.html.twig' %}

{% block title %}Mentions Legales{% endblock %}

{% block body %}
    <div class="container">
    <div class="card">
        <div class="card-body">
            <h2>Mentions Légales</h2>
            
            <h3>1. Présentation du site :</h3>
            <p>Le site "PortFolio" est édité par Guillaume Charnier, développeur web indépendant.</p>
            
            <h3>2. Contact :</h3>
            <p>Vous pouvez contacter Guillaume Charnier par email à l'adresse suivante : <a href="mailto:charnier.guillaume@neuf.fr">charnier.guillaume@neuf.fr</a>.</p>
            
            <h3>3. Propriété intellectuelle :</h3>
            <p>Tous les éléments présents sur ce site (textes, images, logos hors réseaux socieaux) sont la propriété exclusive de Guillaume Charnier. Toute reproduction ou utilisation sans autorisation préalable est interdite.</p>
            
            <h3>4. Cookies :</h3>
            <p>Le site peut être amené à utiliser des cookies pour améliorer l'expérience utilisateur. Vous pouvez les désactiver dans les paramètres de votre navigateur.</p>
            
            <h3>5. Responsabilité :</h3>
            <p>Guillaume Charnier s'efforce de fournir des informations précises sur ce site, mais ne peut garantir l'exactitude et l'exhaustivité des informations fournies. Il décline toute responsabilité quant à l'utilisation qui pourrait être faite des informations présentes sur le site.</p>
            
            <h3>6. Modifications :</h3>
            <p>Les présentes mentions légales peuvent être modifiées à tout moment. Il est conseillé de consulter cette page régulièrement.</p>
        </div>
    </div>
</div>


    <div class="container">
        <div id="btn-container" class="text-center">
            <a id="btn-explorer" class="btn btn-primary btn-lg" href="{{ path('app_show_PortFolio') }}" role="button">Retour au menu</a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-image: url('/PortFolio/ressources/person-playing-3d-video-games-device.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: #222222;
            color: #ffffff;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .container {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            text-align: center;
        }
        .card {
            max-width: 800px;
            width: 100%;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.90);
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            color: #333333;
            margin-bottom: 20px; /* Espacement entre la carte et le footer */
            border: 1px solid #cccccc; /* Bordure légère */
        }

        .card-body {
            
            padding: 20px; 
        }

        h2 {
            font-size: 2rem;
            margin-bottom: 10px;
            
        }

        p {
            font-size: 1.2rem;
            line-height: 1.6;
            margin-bottom: 15px;
        }

        /* Style pour le bouton "Retour au menu" */
        #btn-explorer {
            background-color: blue; /* Violet */
            color: #ffffff; /* Texte en blanc */
            border-color: blue; /* Bordure de la même couleur */
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        }

        #btn-explorer:hover {
            background-color: #6a007a; /* Assombrissement au survol */
            border-color: #6a007a; /* Bordure assombrie */
        }
    </style>
{% endblock %}
